.service-card-content .service-card-card-03 {
    background: #ffffff;
    border-radius: 10px;
    padding: 30px 45px 35px;
    margin-top: 30px;
    position: relative;
}

.service-card-content .service-card-card-03 .service-content .title {
    font-size: 22px;
    line-height: 30px;
    margin-top: 20px;
}

.service-card-content .service-card-card-03 .service-content p {
    font-size: 14px;
    line-height: 30px;
    padding-top: 20px;
}

.service-card-content .service-card-card-03 .service-content .read-more {
    margin-top: 20px;
}

.service-card-content .service-card-card-03 .service-content .read-more a {
    font-size: 14px;
    color: #333333;
}

.service-card-content .service-card-card-03 .service-content .read-more a i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ebebeb;
    border-radius: 50%;
    color: #086ad8;
    margin-right: 5px;
    transition: all 0.3s linear;
}

.service-card-content
    .service-card-card-03:hover
    .service-content
    .read-more
    a {
    color: #086ad8;
}

.service-card-content
    .service-card-card-03:hover
    .service-content
    .read-more
    a
    i {
    transform: rotate(90deg);
}

/* Custome More! */
.custome-more-text p {
    font-size: 16px;
    line-height: 30px;
}

.custome-more-text p a {
    font-weight: 600;
    color: #086ad8;
}

.custome-more-text p a i {
    position: relative;
    top: 1px;
    transition: all 0.3s linear;
}

.custome-more-text p a:hover i {
    margin-left: 5px;
}

/* Scroller */
.scroller {
    max-width: 830px;
    overflow: hidden;
}

.scroller__inner {
    display: flex;
    gap: 4rem;
}

.scroller__inner img {
    height: 120px;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
    mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.container-map {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* Map Custome */
.map-custome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #086ad8;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nodata {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 5rem 0 0;
    text-align: center;
}

.nodata img {
    height: 12rem;
}

.nodata p {
    font-weight: 600;
    font-size: 25px;
    color: #b3b6c5;
}

/* Landing Page Header Image */
.container-custome-header {
    width: 100%;
    height: 100vh;
    background-color: #2696e9;
}

.container-custome-header .custome-header {
    position: relative;
    width: 100%;
    height: 100%;
}

.container-custome-header .custome-header .image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container-custome-header .custome-header .image::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.5);
}

.container-custome-header .custome-header .image .foto-slide {
    z-index: 000;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(0% at 0 50%);
}

.container-custome-header .custome-header .image .foto-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

.container-custome-header .custome-header .text {
    position: absolute;
    z-index: 10;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.container-custome-header .custome-header .text .text-big {
    font-size: 6vw;
    color: #388be9;
}

.container-custome-header .custome-header .text .text-big span {
    color: #f4f4f4;
}

.container-custome-header .custome-header .text .text-small {
    font-size: 1.5vw;
    width: 60%;
}

.slider-foto {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh;
    padding-block: 40px;
}

.slider-foto .nav-btn {
    width: 12px;
    height: 12px;
    background: #f4f4f4;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-foto .nav-btn.active {
    background: #2696e9;
}

.slider-foto .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-foto .nav-btn:hover {
    transform: scale(1.2);
}

/* Responsive Landing Page Index */
@media only screen and (max-width: 500px) {
    .container-custome-header .custome-header .text {
        position: absolute;
        z-index: 10;
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
        padding-right: 30px;
    }

    .container-custome-header .custome-header .text .text-small {
        font-size: 4vw;
        width: 85%;
    }

    .container-custome-header .custome-header .text .text-big {
        font-size: 12vw;
        color: #388be9;
    }

    .tentang-kami .sub-title {
        text-align: center;
    }

    .tentang-kami .title {
        text-align: center;
        font-size: 25px;
        padding: 0 28px;
    }

    .tentang-kami .about-content-wrap p {
        text-align: center;
        padding: 0 10px;
    }

    .tentang-kami .about-content-wrap .title {
        font-size: x-large;
        padding: 0px 10px;
    }

    .tentang-kami .about-img-wrap .about-img-big img {
        display: none;
    }

    .layanan-index .service-content .title {
        text-align: center;
        font-size: 25px;
    }

    .layanan-index .service-content p {
        text-align: center;
    }

    .layanan-index .service-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
